<footer class="footer">
    <div class="footer__container">

        <a href="https://i.giphy.com/media/5xaOcLSiHjl31yG4ZNK/giphy.webp"  class="footer__ico">
          ✻
        </a>
      <div class="footer__wrapper">
        <div class="footer__info">
          <p class="footer__text">
            Taiki Murayama<br>Design Director<br>Los Angeles</p>
        </div>
        <div class="footer__info">
          <p class="footer__text">Email<br><a href="#" class="footer__color">taikimurayama.io</a></p>
        </div>
        <div class="footer__info">
          <p class="footer__text"><a href="#" class="footer__color">LinkedIn<br>t.o.mura</a></p>
        </div>
      </div>
      </div>
</footer>