@use "../ui/styles/variables.scss";
@use "../ui/styles/mixins.scss";

.footer {
    padding: 5rem;
    background-color: #f5f5f5;
    color: #333;
  
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      gap: 2rem;
    }
  
    &__wrapper {
      display: flex;
      position: relative;
      gap: 9rem;
      right: 270px;
    }
  
    &__info {
      max-width: 250px;
  
      &__text {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 400;
      }
    }
  
    &__ico {
      @include mixins.bottom-underline(variables.$gren, 5px, 0.3s, 18px);
      font-size: 2rem;
      font-weight: 400;
      text-align: left;
      align-self: center;
      text-decoration: none;
      color: #000;
    }
  
    &__color{
      @include mixins.bottom-underline(variables.$gren, 4px, 0.3s, 7px);
      text-decoration: none;
      color: #000;
  
      &:hover {
        color: inherit;
      }
    }
  }