<article class="works__content" [class.is-open]="work.isOpen">
    <h3 class="works__name">{{ work.name }}</h3>
    @if (work.extraInfo == '') {
      <div class="works__details">
        <em class="works__date">{{ work.date }}</em>
        <div class="works__details-wrapper">
          <small class="works__type">{{ work.type }}</small>
        </div>
      </div>
    } @else {
      <div class="works__details">
        <button
          class="works__toggle"
          aria-label="Abrir descripción"
          (click)="HandleItem()"
        >
          <em class="works__date">{{ work.date }}</em>
          <div class="works__details-wrapper">
            <small class="works__type">{{ work.type }}</small>
            <div
              class="works__icon works__icon--container"
              [class.is-open]="work.isOpen"
              aria-hidden="true"
            >
              <div class="plus">
                <div class="plus__vertical-line"></div>
                <div class="plus__horizontal-line"></div>
              </div>
            </div>
          </div>
        </button>
  
        <div class="works__extra-info" [class.is-open]="work.isOpen">
          <p class="works__extra-text">{{ work.extraInfo }}</p>
        </div>
      </div>
    }
  </article>
  