@use "./app/ui/styles/variables.scss";


@font-face {
  font-family: 'FHPhemister-Bold';
  src: url('/fonts/FHPhemister-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica ,serif;
  background-color: #f7f7f7;
}

::selection{
  background-color: variables.$gren;
}
